<style type="text/css">
  span.select2-selection.select2-selection--multiple{
    border: 1px solid #dedede;
  }
  
  .select2-selection__rendered {
      line-height: 34px !important;
  }
  
  .select2-container .select2-selection--single {
      height: 38px !important;
  }
  
  .select2-selection__arrow {
      height: 37px !important;
  }
  
  
    .panel {
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 6px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2); -o-box-shadow: 0 0 6px rgba(0,0,0,0.2);
        color: #3b0054;
    }
  
  
    input, label{
      font-size: 14px;
      color: #333;
    }
  
    .has-error{
      color: red;
    }
  
    #exTab3 {
      margin: auto 0px;
      margin-top: 20px;
      padding: 0px;
    }
  
    #exTab3 .nav-pills > li > a {
      /*border-radius: 4px 4px 0 0 ;*/
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  
    #exTab3 .tab-content {
      padding : 5px 0px;
      /*border: 1px solid #ccc;*/
      border-radius: 5px;
      border-top-left-radius: 0px;
      min-height: 50vh;
      background-color: white;
      margin-top: -2px;
    }
  
  
    a.active.nav-link.sub-nav-item {
      /*background-color: #428bca;*/
      background-color: white;
      color: #1c47e3;
      border-bottom: 1px solid white;
      margin-bottom: 0px;
      z-index: 100;
    }
  
    a.nav-link.sub-nav-item {
      margin: 0px;
      margin-right: 10px;
    }
  
    .nav-item{
      margin-bottom: 0px;
    }
  
    .custom-nav-item{
      border: none;
    }
  
    a.active.nav-link.sub-nav-item {
     border-bottom: 5px solid #00ad5f;
    }
  
    #matchList {
      font-size:90%;
      color: #3b0054;
      padding: 20px;
  	}
  
  	.dataTables_wrapper {
  	    color: #3b0054;
  	}
  
  .background-none{
      background: none;
  }
  
  .custom-file-input{
      opacity: 1;
  }
</style>
<div class="container-fluid" style="background: none; padding-top: 25px; padding-bottom: 45px;">
  <div class="panel panel-default container" style="margin: auto; padding: 0px;">
    <div id="exTab3" class="container-fluid">
      <div class="tab-content clearfix" style="margin-top: -1px;">
        <div class="container-fluid tab-pane active">
          <div class="panel-group" id="accordion">
            <div class="panel-heading">
              <br>
              <p class="h4 text-center">Games</p>
              <hr>
            </div>
            <br>
            <div class="table-responsive" id="tableDiv">
              <table id="matchList" class="table table-hover dt[-head|-body]-right">
                <thead>
                  <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Location</th>
                    <th class="text-center">Expiry</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @games.each_with_index do |game, index| %>
                    <tr>
                      <td class="text-center" style="width: 30px;"><%= link_to game.name, game_path(game) %></td>
                      <td class="text-center"><%= game.description %></td>
                      <td class="text-center"><%= get_game_locations(game) %></td>
                      <td class="text-center"><%= game.expiry.strftime("%m/%d/%Y") %></td>
                      <td class="text-center">
                        <% if game.submission == 0 %>
                          <%= link_to '<button type="button">Live</button>'.html_safe, testing_live_path(:id => game.id), :method => 'put', :remote => true %>
                        <%else%>
                          <%= link_to '<button type="button">Unlive</button>'.html_safe, deleting_live_path(:id => game.id), :method => 'put', :remote => true %>
                        <%end%>
                      </td>
                      <td class="text-center">
                        <% if game.expiry < DateTime.now %>
                          <%= link_to '<button type="button">Check</button>'.html_safe, questions_path %>
                        <%end%>
                      </td>
                      <td class="text-center"><%= %></td>
                      <td><%=link_to edit_game_path(game) do %>
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <% end %>
                      </td>
                      <td><%=link_to game_path(game), method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <br>
          <p class="btn btn-outline-secondary pull-right" style="margin-right: 10px;">
            <a data-toggle="collapse" href='#add-passport'>
              New Game?
            </a>
          </p>
          <br>
          <br>
          <div id="add-passport" class="panel-collapse collapse in">
            <br>
            <br>
            <br>
            <p class="h6 text-center">Add New Game</p>
            <hr>
            <%= form_for @game  do |f| %>
              <div class="row background-none">
                <div class="col-12 col-xs-12 col-sm-6">
                  <small>
                    <%= f.label :Name %>
                    <%= f.text_field :name, class: 'form-control', :required => true %>
                  </small>
                </div>
                <div class="col-12 col-xs-12 col-sm-6">
                  <small>
                    <%= f.label :Description %>
                    <%= f.text_field :description, class: 'form-control' %>
                  </small>
                </div>
              </div>
              <div class="row background-none">
                <div class="col-12 col-xs-12 col-sm-6">
                  <small>
                    <%= f.label :Credits %>
                    <%= f.number_field :credits_required, class: 'form-control' %>
                  </small>
                </div>
                <div class="col-12 col-xs-12 col-sm-6">
                  <small>
                    <%= f.label :Expiry %>
                    <%= f.date_field :expiry, class: 'form-control' %>
                  </small>
                </div>
              </div>
              <div class="row background-none">
                <div class="col-12 col-xs-12 col-sm-12">
                  <small>
                    <%= f.label :Location %>
                    <%= collection_select(:game, :location_ids, Location.all, :id, :name, {}, :multiple => true, id: 'js-example-locations', class: 'form-control') %>
                  </small>
                </div>
              </div>
              <div class="row background-none">
                <div class="col-12 col-xs-12 col-sm-12">
                  <small>
                    <%= f.label :Category %><br>
                    <%= collection_select(:game, :category_ids, Category.all, :id, :title, {}, :multiple => true ,  id: 'js-example-tags', class: 'form-control') %>
                    <!--<%= select("game", "category_ids", Category.all.collect { |c| [ c.title, c.id ] }, { include_blank: true}, class: 'form-control' ) %>-->
                  </small>
                </div>
              </div>
              <br>
              <div class="col-12 col-xs-12 col-sm-12">
                <small>
                  <%= f.file_field :avatar %>
                </small>
              </div>
              <br>
              <br>
              <%= f.submit 'Submit', class: "pull-right btn btn-outline-secondary", style: "font-size:90%; color: #3b0054;" %>
              <br>
              <br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Row -->
<style>
  .loginDiv{
    margin: auto;
    margin-top: 20vh;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2 6px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .form-check{
    padding-left: 20px;
  }
</style>
<script>
  $('#matchList').DataTable({
      "pageLength": 10
  });
</script>
