<!DOCTYPE html>
<html>
  <head>
    <title>Start</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  </head>

  <body>
   
        <% if signed_in? %>
   
          <%= render 'layouts/leftnav' %>

        <% else %>
   
          <%= render 'layouts/header' %>
          <%= yield %>
          <%= render 'layouts/footer' %>
   
       <% end %>
    
  </body>
</html>
